* {
  font-family: Courier;
}

body{
	background-color: #E9DCF0
}

h4 {
	color: #a61b26;
	font-size: 1em;
	font-weight: bold;
}
strong {
	color: #a61b26;
}

p {
	font-size: 1em;
}

a {
	color: #da5da4;
	text-decoration: none;
}
a:hover {
	color: #a61b26;
}


::selection {
    background: #be2d56;
    text-shadow: none;
}
::-moz-selection {
    background: #be2d56;
    text-shadow: none;
}



.poem {
	line-height: 3;
}